<body>
  <div id="main">
    <div class="title Mcenter">
        <h4 class="title-inner">Qui suis-je ?</h4><br>
        <h2>Je suis <b>Enzo LEMARCHAND</b></h2>
        <h3>Etudiant en informatique (Ingesup)</h3>
      </div>
      <div id="pres">
        <aside id="moi">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHvh4NruNAorg/profile-displayphoto-shrink_200_200/0?e=1588204800&v=beta&t=y9UVpKVTMDWAoPnZci10Cq1q1Scs1Bq3MdaG1BneyHA" alt="Image de ma propre personne">
        </aside>
        <section>
          <div class="explain Mcenter">
            <p> Originaire de Toulon dans le Var(83), basé à Aix-en-Provence, je réalise mes études au campus Ynov Aix-en-Provence
              afin de devenir développeur. Je souhaite me spécialiser dans le développement logiciel,
              notament sur les langages C et python, ou dans développement web en tant que développeur fullstack.
              Je suis en mesure de me déplacer dans les alentours d'Aix en Provence jusqu'à Toulon et d'intégrer facilement une équipe voir en gérer une.<br>
              (je possède peu de formations sur ce sujet mais j'ai des qualités pour ce rôle non négligables).<br>
              Je suis régulièrement disponible de 9h à 19h pour d'éventuels <a href="contact.php" class="link"><u>contacts</u></a>.</p>
              <a href="CVLemarchandEnzo.pdf" id="site-btn-explain" target="_blank">Voir mon CV <fa-icon [icon]="['fas', 'chevron-right']" [styles]="{'stroke': 'magenta', 'color': 'magenta', 'margin-left': '10px'}" size="1x"></fa-icon></a>
          </div>
          </section>
        </div>
        <div class="title Mcenter">
          <h4 class="title-inner">Mes compétences ?</h4><br>
          <h2>Elles sont Ici !</h2>
        </div>
        <section id="slide_ecran_1">
            <ul>
              <li>
                <h6 class=""> HTML </h6>
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </li>
              <li>
                <h6 class=""> HTML </h6>
                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
              </li>
              <li>
                <h6 class=""> HTML </h6>
                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
              </li>
              <li>
                <h6 class=""> HTML </h6>
                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
              </li>
            </ul>
        </section>
        <div class="title Mcenter">
          <h4 class="title-inner">Mon parcours ?</h4><br>
          <h2>Voici quelques expériences de mon parcours !</h2>
        </div>
        <div class="jumbotron-fluid pt-5">
          <div class="container">
            <div class="timeline body white">
              <div class="point"> </div>
              <div class="point">
                <div class="year"> 2017 </div>
                <div class="bocata body text-left row">
                    <div class="col-md-6 title small bold pb-2"><p>Toute l'année</p></div>
                    <div class="col-md-6 title small bold pb-2"><p>Avril</p></div>
                    <div class="col-md-6 pr-0  body small"><p>Stagiaire au sein de la marine nationale dans une Préparation Militaire Marine (PMM)</p></div>
                    <div class="col-md-6 pr-0  body small"><p>Obtention du permis côtier grâce à la marine nationale</p></div>
                </div>
                <i class="arrow"></i>
              </div>
              <div class="point">
                <div class="year"> 2018 </div>
                <div class="bocata body text-left row">
                    <div class="col-md-6 title small bold pb-2"><p>Juillet</p></div>
                    <div class="col-md-6 title small bold pb-2"><p>Septembre</p></div>
                    <div class="col-md-6 pr-0  body small"><p>Obtention du Baccalauréat scientifique avec Mention Assez Bien</p></div>
                    <div class="col-md-6 pr-0  body small"><p>Début du cursus Master au campus Ynov Aix-en-Provence dans la branche informatique (Ingésup)</p></div>
                </div>
                <i class="arrow"></i>
              </div>
              <div class="point">
                <div class="year"> 2019 </div>
                <div class="bocata body text-left row">
                    <div class="col-md-6 title small bold pb-2"><p>Début Juillet</p></div>
                    <div class="col-md-6 title small bold pb-2"><p>Juillet-Août</p></div>
                    <div class="col-md-6 pr-0  body small"><p>Fin de la première année de Bachelor du cursus Master au sein du campus Ynov Aix-en-Provence </p></div>
                    <div class="col-md-6 pr-0  body small"><p>Début d'un stage de décrouverte en entreprise de 6 semaines afin de finaliser ma première année de bachelor</p></div>
                </div>
              </div>
            </div>
          </div>
        </div><br><br>
        <a href="blog.php" id="site-btn-explain">Découvrir plus en détail certaines de ces expériences et autres !!! <img src="assets/img/icons/double-arrow.png" alt="#"/></a>
  </div>
</body>