<body>
  <div id="main">
    <div class="mini-card">
      <div class="padding">
        <div class="title-name">
          <section>
            <div class="img_contact"><i class="fa fa-envelope fa-3x"></i></div><br>
            <article><I style="color: #b01ba5">enzo.lemarchand@ynov.com OU <br>enzo.lemarchand83@gmail.com</I></article><br><br>
          </section>
          <section>
            <div class="img_contact"><i class="fa fa-mobile fa-4x"></i></div><br>
            <article style="text-align:center; color: #b01ba5;">06 49 12 57 63</article>
          </section>
          <div id="social">
            <p>Vous pouvez me retrouver sur ces réseaux également</p>
            <a href="https://www.facebook.com/profile.php?id=100009321439669" target="_blank" class="social_media site-btn"><i class="fa fa-facebook fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/enzo-lemarchand-b28054171/" target="_blank" class="social_media site-btn"><i class="fa fa-linkedin fa-3x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>