<div class="sh-titlebar sh-titlebar-center sh-titlebar-light sh-titlebar-text-style2" style="padding-top: 99px;">
				<div class="container">
					<div class="sh-table sh-titlebar-height-small">
						<div class="sh-table-cell">
							<div class="titlebar-title">
								<h1 class="titlebar-txt">Lemarchand Enzo</h1>
        					<div class="titlebar-txt">
										<p>Bienvenue !</p>
                    <a routerLink="profil" class="site-btn">Mon profil  <img src="assets/img/icons/double-arrow.png" alt="#"/></a>
									</div>
							</div>
          	</div>
					</div>
				</div>
			</div>
      <section class="intro-section">
        <div class="container">
          <p class="pres">Découvrez <a routerLink="blog" class="link"><u>mon blog</u></a> qui retrace mes expériences récentes</p>
        </div>
        <div class="container">
          <div class="un">
            <div class="row">
              <div class="col-md-4">
                <?php include('Graph1.html');?>
              </div>
              <div class="col-md-4">
                <?php include('Graph2.html');?>
              </div>
              <div class="col-md-4">
                <?php include('Graph3.html');?>
              </div>
            </div>
          </div>
        </div>
      </section>
