<div class="sh-titlebar sh-titlebar-center sh-titlebar-light sh-titlebar-text-style2" style="padding-top: 99px;">
				<div class="container">
					<div class="sh-table sh-titlebar-height-small">
						<div class="sh-table-cell">
							<div class="titlebar-title">
								<h1 class="titlebar-txt">Lemarchand Enzo</h1>
        					<div class="titlebar-txt">
										<p>Bienvenue son mon site !</p>
                    <a href="Apropos.php" class="site-btn">A propos  <img src="assets/img/icons/double-arrow.png" alt="#"/></a>
									</div>
							</div>
          	</div>
					</div>
				</div>
			</div>
      <section class="intro-section">
        <div class="container">
          <p class="pres">Venez découvrir mon <a href="blog.php" class="link"><u>blog personnel</u></a> qui retrace mes expériences récentes</p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <?php include('Graph1.html');?>
            </div>
            <div class="col-md-4">
              <?php include('Graph2.html');?>
            </div>
            <div class="col-md-4">
              <?php include('Graph3.html');?>
            </div>
          </div>
          <div class="un">
            <h3 align="center" color="white"><strong>Pourquoi ce site web ?</strong></h3><br/>
            <p align="center" face="verdana" color="white"> Ce site présente ma propre personne, c'est à dire mon parcours, mes expériences, mes compétences, mon CV...<br><br>
              L'idée de départ était de créer un Portfolio en ligne pour un projet de fin d'année d'étude, or j'ai préféré réaliser ce site présentant d'autres fonctionnalités
              afin d'englobaliser tous mes projets et mes expériences professionnelles dans mon propre site<br><br>
              Vous pouvez toujours venir regarder mes projets réalisés et mes stages/expériences récentes dans la partie Blog du site qui propose chaque projet et expérience sous forme d'un topic.
          </div>
        </div>
      </section>
