.pres{
  color: #fff;
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
}

.sh-titlebar {
  background-image: url(https://image.freepik.com/free-vector/retro-futuristic-landscape-background-with-palm-trees_23-2148279860.jpg);
}

.card{
  height: 350px;
}