/* ------------------
	Partie Blog
---------------------*/

.blog-section {
 background: #501755;;
 background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
 margin-top: 200px;
}

.blog-section .section-title {
 margin-bottom: 25px;
}

.blog-page{
	margin-bottom: 77px;
  margin-top: 50px;
}

.big-blog-item {
	margin-bottom: 65px;
}

.big-blog-item .blog-thumbnail {
	margin-bottom: 30px;
  width: 450px;
  height: 50%;
}

.big-blog-item .blog-content .top-meta {
	margin-bottom: 15px;
}

.big-blog-item .blog-content h3 {
	max-width: 100%;
	margin-bottom: 25px;
}

.big-blog-item .blog-content p {
	margin-bottom: 10px;
}

/* ------------------
	Widget recherche
---------------------*/

.search-widget {
 position: relative;
}

.search-widget input {
 width: 100%;
 height: 40px;
 border: none;
 border-bottom: 2px solid #72628b;
 background: none;
 padding-right: 60px;
 color: #fff;
 margin-left: 10px;
}

.search-widget button {
 position: absolute;
 right: 0;
 top: 0;
 color: #b01ba5;
 font-weight: 700;
 font-size: 14px;
 font-style: italic;
 cursor: pointer;
 background: none;
 border: none;
 text-transform: uppercase;
}

/* -----------------------
	Partie globale modifiée
------------------------*/
body{
  background-color: #0c062e !important;
}
input:focus {
	outline: none;
}
.sh-titlebar {
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/017/038/931/large/michal-kvac-imagine-small.jpg?1554396189);
  background-size: cover !important;
  background-position: center !important;
}
.sh-titlebar-light .sh-table {
    padding: 0 0 330px 0 !important;
}
.titlebar-title{
  color: #fff;
}
.norad {
	display:none;
}
.icons {
  padding-right: 20px;
  cursor: pointer;
}
.white{
  color:#fff;
}
.Tcenter{
  text-align: center;
}
.no-padl{
  padding-left: 0 !important;
}
.no-padr{
  padding-right: 0 !important;
}
.mini{
  font-size: 12px;
  color: #ff5722;
}
.b01ba5{
  color: #b01ba5;
}

